<mat-card
  class="building-card"
  [class.selected-building-card]="selected()"
  appEditBuilding (editAction)="onEdit()"
>
  <mat-card-header>
    <mat-card-title>
      <mat-checkbox
        [checked]="selected()"
        (change)="onSelect()"
      ></mat-checkbox>
      {{ building().name }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ building().description }}</p>
    <p>
      <strong>Category:</strong> {{ building().category }}
    </p>
  </mat-card-content>
</mat-card>
