.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

mgl-map {
  height: 80%;
  width: 80%;
}

.page-title {
  text-align: center;
  margin: 1rem 0 1.5rem;
}
