<h1 class="page-title">Campus Map</h1>
<div class="map-container">
  <mgl-map
    [style]="style"
    [zoom]="[13]"
    [center]="[17.908950535135272, 47.088969173638375]"
    (mapLoad)="onMapLoad($event)"
  >
    <mgl-raster-source
      id="base-source"
      attribution="© OpenStreetMap contributors"
      [tileSize]="256"
      [tiles]="['https://tile.openstreetmap.org/{z}/{x}/{y}.png']"
    />
    <mgl-layer id="base-layer" type="raster" source="base-source" />

    <mgl-geojson-source id="pois-source" [data]="pois" />
    <mgl-layer
      id="pois-layer"
      type="symbol"
      source="pois-source"
      [layout]="{
        'text-field': ['get', 'name'],
        'text-offset': [0, 1.2],
        'text-size': 16,
        'text-anchor': 'top'
      }"
      [paint]="{ 'text-color': ['get', 'color'] }"
    />
  </mgl-map>
</div>
