/* You can add global styles to this file, and also import other style files */
@import 'maplibre-gl-draw/dist/mapbox-gl-draw.css';
@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar .mdc-snackbar__surface {
  background-color: #d32f2f !important;
}
.error-snackbar .mdc-snackbar__label {
  color: #ffffff !important;
}
.error-snackbar .mat-mdc-snack-bar-action {
  color: #ffffff !important;
}

.success-snackbar .mdc-snackbar__surface {
  background-color: #008000 !important;
}
.success-snackbar .mdc-snackbar__label {
  color: #ffffff !important;
}
.success-snackbar .mat-mdc-snack-bar-action {
  color: #ffffff !important;
}
